*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:#E3DBC4;
    padding: 20px;
    border-bottom: 2px solid #79756a;
}

.center{  /*configuração auxiliar de centralização*/
    max-width: 1100px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.logo h2{
    
}

.menu-desktop{
    width: 80%;
    text-align: right;
    position: absolute;
    left: -300px;
    cursor: pointer;
}

.menu-desktop  a{
    text-decoration: none;
    font-size: 15px;
    background-color: #d1bf88;
    border-radius: 20px;
    padding: 10px;
    color: black;
    text-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.39);
}


.menu-desktop a:hover{
    background-color: aliceblue;
    transition: 0.2s;
}

/*CONFIGURAÇÃO MENU  MOBILE*/

.menu-mobile{
    display: block;
    text-align: right;
    width: 50%;
    position: absolute;
    left: 150px;
}

.menu-mobile i{
    cursor: pointer;
    color: #3d3c3a;
    font-size: 19px;
}

.menu-mobile ul{  /*menu sendo alinhado e posicionado*/
    background-color: rgb(235, 228, 228);
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    text-align: center;
}

.menu-mobile ul li a{
    color: #d1bf88;
    text-decoration: none;
    padding: 8px 0;
    display: block;
}

.show-menu{
    opacity: 1;
}

@media screen and (max-width: 873px) {  /*modificando quando um menu some e outro aparece*/
         .menu-mobile{display:block;}
         .menu-mobile ul{display: none;}
         .menu-desktop{
            display:none;
        }
}

/*SECTION MAIN*/

section.main{
    background-image: url(./abstract-blue-geometric-shapes-background.jpg);
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.bloco{
    display: flex;
    flex-wrap: wrap;
}

.mini-b{
    background-color: #d1bf88;
    width: 24%;
    text-align: center;
    border-radius: 10px;
    margin-right: 1%;
    padding: 30px 20px;
    flex-wrap: wrap;
}

.mini-b h2{
    color: #141412;
    margin-left: 5px 0;
    font-size: 14px;
}

.mini-b:hover{
    background-color: rgb(179, 177, 64);
    transition: 0.4s;
}

/*premios*/

section.premios{
    background-image: url('./268_Organic_White_Background.jpg');
    padding: 20px 0;
    height: 295px;
    color: #007bff;
    font-size:20px;
    border-bottom: solid black;
}

.conquista{
    width: 24%;
    margin-right: 1%;
    text-align: center;
    
}


@media screen and (max-width: 768px) {
             .conquistas{
                width: 100%;
                margin-bottom: 20px;
             }
}


